/* Basic CSS Stylesheet Template */

/* CSS RESET */
body, header, footer, h1, h2, h3, input {
  margin: 0;
  padding: 0;
  border: 0;
	section: 0;
	article: 0;
	aside: 0; 
}

/* STYLING START */
@font-face {
  font-family: Tourney;
  src: url("fonts/Tourney-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Tourney-Italic;
  src: url("fonts/Tourney-Italic-VariableFont_wdth\,wght.ttf");
}


table th, td {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    padding: 5px;
}

td {
    border: 2px solid rgb(255, 255, 255);
}

table {
  margin:auto;
}

td:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

td:active, button:active {
  background-color: rgb(255,255,255,0.9);
  border: 2px solid rgb(255,255,255);
}

#inputBox {
  margin-left: 5%;
  margin-top: 10px;
  margin-left: 22%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}

#tableContainer {
  border-width: 0px 0px 4px 0px;
  border-color: rgba(60,60,60, 0.452);
  border-style: solid;
  padding: 0px 0px 14px 0px;
}

body {
  background-image:url("images/food_background.png");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Roboto', sans-serif;
}

main {
  border: 8px solid rgba(0, 0, 0, 0.307);
  background-color: rgba(60,60,60, 0.452);
  width: 1200px;
  padding: 0px 0px 24px 0px;
}

table {
    border-collapse: collapse;
}

h1,h2{
  color: rgb(255, 255, 255);
  text-shadow: 8px 8px 8px rgb(0, 0, 0);
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

input {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: solid 2px white;
}

button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    padding: 2px 10px;
    border: 2px solid white;
}

/* STYLING FINISH */
