/* Basic CSS Stylesheet Template */

/* CSS RESET */
body, header, footer, h1, h2, h3, {
  margin: 0;
  padding: 0;
  border: 0;
	section: 0;
	article: 0;
	aside: 0; 
}

/* STYLING START */
@font-face {
  font-family: Tourney;
  src: url("fonts/Tourney-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Tourney-Italic;
  src: url("fonts/Tourney-Italic-VariableFont_wdth\,wght.ttf");
}


table, th, td {
    border: 2px outset rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

table {
  margin:auto;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

td:active {
  background-color: rgb(255,255,255,0.9);
  border: 2px inset rgb(255,255,255);
}

#inputBox {
  margin-left: 5%;
  margin-top: 10px;
  margin-left: 22%;
  font-family: Tourney;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);
}


#tableContainer {
  border-width: 0px 0px 4px 0px;
  border-color: rgba(60,60,60, 0.452);
  border-style: solid;
  padding: 0px 0px 14px 0px;
}

body {
  background-image:url("images/food_background.png");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Tourney, serif;
}

main {
  border: 8px outset rgba(0, 0, 0, 0.307);
  background-color: rgba(60,60,60, 0.452);
  width: 1200px;
  padding: 0px 0px 24px 0px;
}

h1,h2{
  color: rgb(255, 255, 255);
  text-shadow: 8px 8px 8px rgb(0, 0, 0);
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}


/* STYLING FINISH */